@import "normalize.styl"

azul = #009cff
negro = #333333
gris = #F5F5F5

body
    background gris
    color negro
    font-size 16px
    line-height 1.4em
a
    text-decoration none

header
    width 100%
h4
    font-size 1.4em

.cont-barra
    background white
    border-bottom 1px solid gray
    width 100%

.lista-productos
    display none

.cuerpo
    margin 0px auto
    width 100%
    max-width 70em

.menu-p
    font-size 1.2em
    background white
    border-radius 0.2em
    display initial
    margin 0px
    position absolute
    padding 0px
    left 3em
    top 0em
    list-style none
    z-index 2

.item-menu
    padding 1em 3em
    &:hover
        background gris
    a
        color azul

.menu-p
    display none

.barra
    width 100%
    max-width 75em

.ico-menu
    margin 1em
    width 1.6em

.form-busqueda
    border 1px solid gray
    border-radius 0.4em
    float right
    margin 1em
    padding 0px
    padding-left 0.5em
    width 62%

.btn-submit
    background white
    border none
    padding-right 0px

.campo-busqueda
    background white
    border none
    height 1.5em
    width 75%
//################################################//
.inline
    display inline-block

.s-logo
    img
        width 100%

.slider
    background white
    border-bottom 0.5em solid gray
    margin-bottom 2em
    text-align center
    img
        max-width 75em
        width 100%
//###############################################//
.menu-productos
    background azul
    border-bottom 1px solid gray
    color white
    width 100%
    img
        margin 1em
        width 2em

.lista-productos
    background #F0F0FF
    display inline-block
    margin 0px
    padding-right 2em
    padding-top 1em
    width 16em
    ul
        list-style none
        margin 0px

.item-list-prod
    padding-bottom 0.8em
    padding-top 0.8em
    border-bottom 1px solid #D0D0D0
    &:hover
        border-bottom 2px solid #D0D0D0
        cursor pointer

.lista-productos
    display none


.titulo-menu-prod
    font-weight bold
    bottom 1.5em
    margin 0px auto
    position relative

.menu-marcas
    background gray
    height 4em
    line-height 1em

.marcas
    list-style none
    width 100%
    margin 0px
    padding 0px
    text-align center

.item-marcas
    display inline-block
    width 23%
    padding 0.8em 0em
    a
        color white
        &:hover
            font-weight bold
//##################################################//
h3
    font-size 1em
    margin 0px

.productos
    width 100%

.producto
    border-bottom 1px solid gray
    padding-bottom 1em
    padding-top 1em
    width 100%
    &:nth-child(even)
        background gris
    img
        display inline-block
        width 25%

.descripcion
    position relative
    width 70%
//##################################################//
.videos
    background negro
    border-bottom 0.5em solid gray
    color white
    padding-bottom 1em
    padding-top 1em
    text-align center

.reproductor
    height auto
    padding-top 1em
    iframe
        border none
        width 100%
        height 18em
.l-video
    display inline-block
    list-style none
    margin 0px
    padding 0px
    width 100%

.item-video
    display inline-block
    font-size 0.6em
    width 32%
    &:hover
        cursor pointer

    img
        width 100%

//###################################################3//
.contacto
    background azul
    color white
    font-size 1.2em
    padding-top 0.6em
    padding-bottom 1em
    text-align center

footer
    color azul
    background white
    font-size 0.8em
    text-align center

//###############CHAT#############################
.chat
    border 1px solid gray
    border-bottom none
    bottom 0em
    position fixed
    right 1em
    z-index 2

.titulo-chat
    background azul
    color white
    font-size 0.8em
    font-weight bold
    height 2em
    padding 0.5em 1em 0em 1em
    &:hover
        cursor pointer

.conver-chat
    background white
    border-bottom 1px solid gris
    height 15em

.text-chat
    background white
    font-size 0.8em
    height 4em

.campo-chat
    background white
    border 1px solid gray
    border-radius 0.2em
    height 3em
    margin 1em
    margin-right 0em
    width 12em

.btn-chat
    color white
    background azul
    border 1px solid gray
    border-radius 0.2em
    margin 1em
    margin-left 0em
    height 3.3em





//##################################-768px-###################
@media screen and (min-width 768px)
    .s-logo
        text-align center
        img
            width 32em

    .ico-menu
        display none

    .barra
        text-align center

    .menu-p
        font-size 1em
        background none
        border-radius none
        display block
        margin 1em
        position initial
        padding 0px
        left 3em
        list-style none
        z-index 2
    .item-menu
        &:hover
            background none
        a
            color negro

    .form-busqueda
        border-radius 0.5em
        padding-left 0.8em
        width 12em

    .campo-busqueda
        height 2em

    .item-menu
        display inline-block
        padding 0.4em
        a
            color black

    //################################################//
    h3
        font-size 1.2em

    .producto
        background white
        border none
        border-radius 0.5em
        display inline-block
        margin 0.5em
        padding 0.5em
        width 45%
        &:nth-child(even)
            background white

        img
            display inline-block
            width 25%

    .descripcion
        width 70%

    ////################################33
    .reproductor
        padding-top 1em
        iframe
            width 100%
            height 28em
//###################################960px##############
@media screen and (min-width 960px)

    .menu-productos
        text-align center
        display inline-block
        padding-top 1em
        height 2.5em
        width 18em
        img
            display none

    .titulo-menu-prod
        margin 0px auto
        position static

    .menu-marcas
        background none
        display inline-block
        height auto
        width 67%

    //    .marcas

    .item-marcas
        border-radius 0.4em
        background azul
        padding 1.2em 0em 1.2em 0em
        width 9em
        &:hover
            background #009AfA
            font-weight normal
            cursor pointer

    .lista-productos
        background #F0F0FF
        display inline-block
        margin 0px
        padding-right 2em
        padding-top 1em
        width 16em
        ul
            list-style none
            margin 0px



    .item-list-prod
        padding-bottom 0.8em
        padding-top 0.8em
        border-bottom 1px solid #D0D0D0
        &:hover
            border-bottom 2px solid #D0D0D0
            cursor pointer

    //####################################3

    .productos
        margin-left 1em
        height 60em
        overflow scroll
        width 67%

    .producto
        height 10em
        width 44%

        img
            display inline-block
            width 25%

    .descripcion
        width 70%

    //##################################################//

    .reproductor
        display inline-block
        padding-top 1em
        width 42em
        iframe
            height 25em

    .l-video
        list-style none
        margin-left 1em
        padding 0px
        width 100%

    .item-video
        display initial
        font-size 0.8em
        width 32%

        img
            width 100%

    .lista-videos
        display inline-block
        width 15%
        max-width 20%

    .contacto
        text-align left

    .cont-contacto
        border-left 1px solid gris
        margin-left 18%
        padding 0em 0em 0em 2em
